<!-- 
TODO move css into base
 -->
<div id="business_signup_div" style="text-align: middle; margin-right: auto; padding-left: 4%; padding-right: 33%; width: 12%; padding-top: 40px; float:right;" >

<h3 style="text-align: middle;">Business</h3>

<form class="" name="business_signup_form" action="/business_signup_action/" method="post" id=""> {% csrf_token %}

<div>
<input id="" type="text" id="element_b_email" style="width: 150px;" name="element_b_email"  placeholder="Email">
</div>

<br>

<div>
<input type="text" id="element_b_email_confirm" style="width: 150px;" name="element_b_email_confirm"  placeholder="Confirm Email">
</div>

<br>

<div>
<input type="password" name="element_b_password" style="width: 150px;" id="element_b_password" placeholder="New Password">
</div>

<br>

<div>
<input type="password" name="element_b_password_confirm" style="width: 150px;" id="element_b_password_confirm" placeholder="Confirm Password">
</div>

<br>

<div>
<input type="text" id="element_b_name" class="element text medium" style="width: 150px;" name="element_b_name"  placeholder="Business Name">
</div>

<br>

<div>
<input type="text" id="element_b_phone" class="element text medium" style="width: 150px;" name="element_b_phone"  placeholder="Phone">
</div>

<br>

<div>
<input type="text" id="element_b_person" class="element text medium" style="width: 150px;" name="element_b_person"  placeholder="Contact Person">
</div>

<br>

<div>
<input type="text" id="element_b_address" class="element text medium" style="width: 150px;" name="element_b_address"  placeholder="Address">
</div>

<br>

<div>
<input id="element_b_agree" name="element_b_agree" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_4_1">I Agree</label>
</div>

<br>

<button type="submit" style="cursor:pointer; width: 150px; border: 0; background-color:#5AB847; padding-top: 5px; padding-bottom: 5px;" id="element_login_btn"><strong>Sign Up</strong></button>

</form>

<br>
<br>


</div>