{% include "base.html" %}

<div id="confirm_thanks_div" style="padding-top 40px; padding-left: 33%; padding-right: 33%; width: 33%;">
<h1>Once again - Thanks for joining</h1>
<br>
<p>
You have successfully activated your account and are ready to start using Adme. 
</p>

<div style="text-align: middle; horizontal-align: middle;">
<form class="" name="login_form" action="/log-in/" method="post" id=""> {% csrf_token %}

<br>
<div style="margin-left: auto; margin-right: auto;">
<input type="text" id="element_username" class="element text medium" style="width: 150px; " name="element_username"  placeholder="Username"
value="{{ email }}" >
</div>

<br>

<div>
<input type="password" name="element_password"  class="element text medium" style="width: 150px; " id="element_password" placeholder="Password">
</div>

<br>

<button type="submit" style="cursor:pointer; width: 150px; border: 0; background-color:#5AB847; " id="element_login_btn">Login</button>

</form>
</div>

<br>
<br>
</div>