<!-- 
TODO move css into base
 -->
<div id="login_div" style="text-align: left ; float: right; width: 40%; padding-left: 5%; padding-right: 5%;  padding-top: 72px; ; " >

<form class="" name="login_form" action="/log-in/" method="post" id=""> {% csrf_token %}

<div>
<input type="text" id="element_username" class="element text medium" style="width: 150px;" name="element_username"  placeholder="Username"
{% if email %}
value="{{ email }}"
{% endif %}
>
</div>

<br>

<div>
<input type="password" name="element_password"  class="element text medium" style="width: 150px; " id="element_password" placeholder="Password">
</div>

<br>

<button type="submit" style="cursor:pointer; width: 150px; border: 0; background-color:#5AB847; padding-top: 5px; padding-bottom: 5px;" id="element_login_btn"><strong>Log In</strong></button>

</form>

<br>
<br>


{% if not email %}
<div style="text-align: middle; ">
<a href="/sign-up/">Sign Up</a>
<br><br>
<a href="/forgot-password/">Forgot Password</a>

</div>
{% endif %}

</div>