
<div id="home_link">
<a href="/">Home</a>
</div>

<br>

<!-- 
<div id="edit_link">
<a href="/edit_target/">Edit Target(?)</a>
</div>

<br>


<div id="preview_link">
<a href="/preview_target/">Preview Target(?)</a>
</div>

<br>
 -->

<div id="advanced_create_link">
<a href="/t/new">Create</a>
</div>

<br>


<div id="user_stats_link">
<a href="/u/{{ user.email }}/stats">Stats</a>
</div>

<br>


<div id="home_link">
<a href="/prizes">Prizes</a>
</div>

<br>


<div id="home_link">
<a href="/log-out">Logout</a>
</div>