{% include "base.html" %}


<div id="user_stats_div" style="padding-top: 40px;">

<h2> <a href="/t/new" style="padding-left: 15%;">Create Button</a></h2>

<table style="border: dashed 1px; width: 70%; text-align: left; margin-right: 15%; margin-left: 15%;">
	<tr>
		<th>target ID</th>
		<th>incoming_bitly</th>
		<th>outgoing_bitly</th>
		<th>user_created</th>
		<th>date_created</th>	
		<th>preview link</th>
		<th>edit link</th>
		<th>delete button</th>	
	</tr>	

{% for t in targetlist %}
	<tr>
		<td>{{ t.id }}</td>
		<td>{{ t.incoming_bitly }}</td>
		<td>{{ t.outgoing_bitly }}</td>
		<td>{{ t.user_created }}</td>
		<td>{{ t.date_created }}</td>	
		<td><a href="{{ t.incoming_bitly }}">Preview (meta?)</a></td>
		<td><a href="/target/u/">Edit</a></td>
		<td><a href="/target/d/">Delete</a></td>	
	</tr>
{% endfor %}
</table>
</div>